// what we do list
.list-of-work{
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 15px;

    @media(max-width: $screen-xs-max){
      width: 100%;
      flex: 0 0 100%;
    }
    @media(min-width: $screen-xs) and (max-width: $screen-sm-max){
      max-width: percentage(1/2);
      flex: 0 0 percentage(1/2);
    }
    @media(min-width: $screen-sm){
      max-width: percentage(1/3);
      flex: 0 0 percentage(1/3);
    }
  }

  .icon{
    margin-bottom: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-color;
    font-size: 35px;
    line-height: 35px;
  }
}
