@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-wrench:before { content: "\f100"; }
.flaticon-fan:before { content: "\f101"; }
.flaticon-battery:before { content: "\f102"; }
.flaticon-tire:before { content: "\f103"; }
.flaticon-car-oil:before { content: "\f104"; }
.flaticon-wheel:before { content: "\f105"; }
.flaticon-motor:before { content: "\f106"; }
.flaticon-gear:before { content: "\f107"; }
.flaticon-garage:before { content: "\f108"; }
.flaticon-car-painting:before { content: "\f109"; }
.flaticon-oil:before { content: "\f10a"; }
.flaticon-air-filter:before { content: "\f10b"; }
.flaticon-disc-brake:before { content: "\f10c"; }
.flaticon-timing-belt:before { content: "\f10d"; }
.flaticon-pistons:before { content: "\f10e"; }
.flaticon-lift:before { content: "\f10f"; }
.flaticon-gear-shift:before { content: "\f110"; }
.flaticon-car-light:before { content: "\f111"; }
.flaticon-chassis:before { content: "\f112"; }
.flaticon-voltage:before { content: "\f113"; }
  $font-Flaticon-wrench: "\f100";
  $font-Flaticon-fan: "\f101";
  $font-Flaticon-battery: "\f102";
  $font-Flaticon-tire: "\f103";
  $font-Flaticon-car-oil: "\f104";
  $font-Flaticon-wheel: "\f105";
  $font-Flaticon-motor: "\f106";
  $font-Flaticon-gear: "\f107";
  $font-Flaticon-garage: "\f108";
  $font-Flaticon-car-painting: "\f109";
  $font-Flaticon-oil: "\f10a";
  $font-Flaticon-air-filter: "\f10b";
  $font-Flaticon-disc-brake: "\f10c";
  $font-Flaticon-timing-belt: "\f10d";
  $font-Flaticon-pistons: "\f10e";
  $font-Flaticon-lift: "\f10f";
  $font-Flaticon-gear-shift: "\f110";
  $font-Flaticon-car-light: "\f111";
  $font-Flaticon-chassis: "\f112";
  $font-Flaticon-voltage: "\f113";
