// heading's
.heading{
  display: inline-block;
  // padding-left: 15px;
  // border-left: 4px solid $primary-color;

  margin: {
    top: 10px;
    bottom: 20px;
  }

  font: {
    family: $secondary-font;
    weight: 400;
  }

  // h1 style
  &--1{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -2px;
    max-width: 700px;
    line-height: 1;
  }

  // h2 style
  &--2{
    font-size: 1.8rem;
  }

  // h3 style
  &--3{
    font-size: 1.6rem;
  }
}

.subheading{
  text-transform: uppercase;
}

p{
  margin: 0;
}
