$primary-color: #0AC4BA;
$secondary-color: #2BDA8E;
$primary-text-color: #323643;
$white: #fff;

$default-font: 'Roboto', sans-serif;

$primary-gradient: linear-gradient(170.09deg, $primary-color -2.09%, $secondary-color 100%);